<form class="answer-question-form">
  <input type="hidden" name="answer[question_id]" value="<%= q.id %>">
  <input type="hidden" name="answer[user_name]" value="<%= AmazonCloneZone.currentUser.name() %>">
  <span class="flash-errors-for-answers"></span>
  <input class="answer-question-input" type="text" name="answer[body]" placeholder="Your answer to this question.">
  <button class="answer-question-button">Submit Answer</button>
</form>
