<section class="all">
  <header class="navigation-header">
    <span class="header-row-1 group">
      <span class="logo-span-header">
        <a href="#">
          <img class="logo" src="/assets/amazon_clone_zone_logo.png">
        </a>
      </span>

      <form>
        <input class="search" type="text" placeholder="Search">
      </form>
    </span>

    <span class="header-row-2 group">
      <ul class="header-list">
        <li><a href="#">Home</a></li>

        <% if(AmazonCloneZone.currentUser.isSignedIn()) { %>
          <li>Signed in as: <%= AmazonCloneZone.currentUser.name() %>
            <br>
              <a href="#" id="sign-out-link"
                <p>Not <%= AmazonCloneZone.currentUser.name() %>? Sign Out</p>
              </a>
          </li>
        <% } else { %>
          <li><a href="#session/new">Sign In</a></li>
          <li><a href="#users/new">Sign Up</a></li>
        <% } %>

        <li><a href="#cart">Shopping Cart</a></li>

        <% if(AmazonCloneZone.currentUser.isSignedIn()) { %>
          <li><a href="#orders">Your Orders</a></li>
        <% } %>
      </ul>
    <span>
  </header>
