<h1>Shopping Cart</h1>
<h2>Cart.id = <%= @cart.id %></h2>
<ul>
  <% @cart.items.each do |item| %>
    <li>Item: <%= item.name %> Price: <%= item.price %> Quantity: <%= item.quantity %></li>
  <% end %>
</ul>
