/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ------------RESET------------ */
/*html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
}*/

 html, body, header, nav, h1, a, ul, li,
 main, section, img, div, h2, h3, p,
 article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* ------------GENERAL------------ */
body {
  background: #ff9900;
  font-family: Arial;
}

.all {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 900px;
  background: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 21px;
  line-height: normal;
}

h3 {
  font-size: 18px;
  line-height: normal;
}

.generic-link {
  color: #0066c0;
}

.generic-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}

.generic-button {
  padding: 10px 80px;
  color: #000;
  background: #f0c14b;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}

.generic-button:hover {
  background: #846a29;
}

.flash-errors {
  color: red;
}

.generic-price-styling {
  font-weight: 700;
  line-height: 1.255;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: #b12704;
}

/* ------------CLEARFIX------------ */
.group:after {
  content: "";
  clear: both;
  display: block;
}

/* ------------HEADER------------ */
header {
  background: #232f3e;
  color: #fff;
  margin: 0 auto;
  width: 900px
}

header a:hover {
  text-decoration: underline;
  color: #ADADB0;
}

.logo-span-header {
  float: left;
  width: 200px;
}

.search {
  float: left;
  margin: 25px 0 0 50px;
  width: 600px;
  height: 35px;
  background: white;
  color: black;
  border-radius: 4px 4px 4px 4px;
}

.header-list li {
  float: left;
  padding: 0 75px;
}

/* ------------FOOTER------------ */
footer {
  margin: 0 auto;
  width: 900px;
  border-bottom: 1px solid #ccc;
}

.logo-span-footer {
  display: block;
  margin: 0 auto;
  width: 450px;
}

/* ------------HOME PAGE / PRODUCTS INDEX PAGE------------ */
.carousel-content {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

.content {
  margin: 20px auto;
  width: 900px;
  overflow: hidden;
}

.main {
  /*background: #eee;*/
  float: left;
  width: 600px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}

.carousel-product-feed-1 {
  /*background: #ccc;*/
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
}

.carousel-product-feed-1:last-child {
  border-bottom: 1px solid #ccc;
}

.carousel-product-feed-1 li {
  margin: 10px;
}

.carousel-product-feed-1 a:hover {
  text-decoration: underline;
  color: #146eb4;
}

.sidebar {
  background: #F8F8F9;
  float: right;
  padding: 20px 5px;
  width: 290px;
  height: auto;
  text-align: center;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}

.sidebar li {
  margin: 10px;
}

/* ------------PRODUCT SHOW PAGE------------ */
.categories {
  font-weight: bold;
  height: 31px;
  line-height: 33px;
  color: #333;
  font-size: 12px;
  padding: 0 11px;
  background: #fafafa;
}

.product-show {
  font-size: 13px;
  line-height: 130%;
  /*margin: 20px 0;*/
  padding: 20px 0 0 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.product-show a {
  color: #0066c0;
}

.product-show a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}

.left {
  /*background: lightblue;*/
  float: left;
  width: 280px;
  margin-left: 10px;
}

.center {
  /*background: red;*/
  margin-left: 300px;
  margin-right: 210px;
}

.right {
  /*background: beige;*/
  float: right;
  width: 200px;
  padding-left: 2px;
  margin: 5px;
}

.caretnext {
  font-size: 1.2em;
  color: #c60;
  font-weight: bold;
  margin-left: -2px;
}

.product-description li {
  margin-left: 12px;
  color: #949494;
  list-style: disc;
  line-height: 19px;
  /*list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;*/
}

.product-description p {
  color: #000;
}

/* ------------PRODUCT SHOW PAGE | PRODUCT IMAGE------------ */
.product-image img {
  /*margin-top: 50px;*/
  max-height: 325px;
  max-width: 100%;
}

/* ------------PRODUCT SHOW PAGE | ADD TO CART FORM------------ */
.add-to-cart-form {
  margin-top: 12px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.price-color {
  color: #b12704;
  font-weight: bold;
}

.big-price-color {
  color: #b12704;
  font-size: 17px;
}

.in-stock-color {
  color: #008a00;
}

.big-in-stock-color {
  color: #008a00;
  font-size: 17px;
}

.cart-button {
  text-align: center;
  margin-bottom: 20px;
  padding: 8px 55px;
  color: #000;
  background: #f0c14b;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}

.cart-button:hover {
  background: #846a29;
}

/* ------------PRODUCT SHOW PAGE | PRODUCT DETAILS------------ */
#product-details {
  /*background: red;*/
  background: linear-gradient(#fafafa, #fff);
  border-top: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  margin: 20px;
  padding: 20px 5px;
}

/* ------------PRODUCT SHOW PAGE | CUSTOMER QUESTIONS & ANSWERS------------ */
#questions-answers {
  border-top: 1px solid #ccc;
  margin: 20px;
  padding: 20px 5px;
}

.question {
  /*background: beige;*/
  font: 17px Helvetica;
  /*color: #0066c0;*/

}

.answer-sym {
  /*background: lightblue;*/
  font: 24px Helvetica;
  float: left;
}

.answers {
  float: left;
  /*background: red;*/
  margin-left: 20px;
  width: 790px;
  font: 13px Helvetica;
}

.ask-author-and-date {
  /*margin-left: 10px;*/
  color: #aaa;
}

.ask-question-form-section {
  margin: 10px 0;
}

.ask-question-input {
  width: 300px;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,.5),0 1px 0 rgba(0,0,0,.07) inset;
  outline: 0;
  background: #fff;
  outline-offset: -2px;
  font-size: 100%;
}

.ask-question-input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px rgba(226,121,19,.5),0 1px 0 rgba(0,0,0,.07) inset;
}

.ask-question-button {
  /*padding: 10px 80px;*/
  color: #000;
  /*background: #f0c14b;*/
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  font-weight: bold;
  border-radius: 4px;
  height: 35px;
  margin-left: 10px;
  width: 50px;
  /*width: 42px;*/
  cursor: pointer;
  text-align: center;
}

.ask-question-button:hover {
  background: #846a29;
}

/* ------------PRODUCT SHOW PAGE | PRODUCT REVIEWS------------ */
#product-reviews {
  border-top: 1px solid #ccc;
  margin: 20px;
  padding: 20px 5px;
}

.review-header {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 16px;
  color: #c60;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  padding-bottom: 4px;
}

/* ------------CART SHOW PAGE------------ */
.cart {
  /*padding: 14px 18px 18px;*/
}

.checkout {
  /*background: teal;*/
  float: right;
  width: 200px;
  padding-left: 2px;
  margin: 5px;
  /*height: 400px;*/
}

.items {
  /*background: grey;*/
  width: 688px;
  margin: 5px 0 0 0;
}

.shopping-cart-items h2{
  font-family: Arial, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
}

.cart-image-holder {
  /*background: green;*/
  float: left;
  width: 125px;
}
.shopping-cart-items .image {
  /*width: 125px;*/
  /*float: left;*/
  margin: 0 auto;
  /*margin-right: 10px;*/
  max-height: 100px;
  width: auto;
  max-width: 125px;
}

.cart-row {
  /*background: lightblue;*/
  /*width: 500px;*/
}

.cart-row .cart-content {
  /*background: beige;*/
  float: left;
  margin-left: 5px;
  max-width: 360px;
}

.cart-row form {
  /*background: maroon;*/
}


.items .price {
  /*background: blue;*/
  text-align: center;
  vertical-align: top;
}

.items .qty {
  /*background: red;*/
  text-align: center;
  vertical-align: top;
}

.cart-name-col {
  width: 500px
}

.cart-price-col {
  width: 100px;
}

.cart-qty-col {
  width: 50px;
}

.table-row-cart-item td {
  /*padding: 100px;*/
  border-top: 1px solid #ccc;
}

.subtotal {
  text-align: right;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  font-weight: 700;
}

.cart-content button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  color: #0066c0;
  cursor: pointer;
  font-size: 14px;
}

.cart-content button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}

.checkout-errors {
  text-align: center;
}

/* ------------SESSION NEW PAGE------------ */
.sign-in-wrapper {
  /*background: green;*/
  padding: 30px;
}

.top-slots {
  /*background: beige;*/
  margin: 0 auto;
  width: 550px;
}
.logo-top-slot {
  width: 200px;
  float: left;
}

.links-top-slot {
  /*background: red;*/
  float: right;
  height: 18px;
  padding: 31.5px 0;
}

.center-slots {
  /*background: yellow;*/
  width: 450px;
  margin: 40px auto;
  padding: 50px;
  border: 1px solid #c9e1f4;
  border-radius: 5px;
  text-align: center;
}

.bottom-slots {
  /*background: lightyellow;*/
  width: 550px;
  margin: 0 auto;
  padding: 40px 0;
  /*border: 1px solid #c9e1f4;*/
  border-top: 1px solid #c9e1f4;
  border-bottom: 1px solid #c9e1f4;
  border-radius: 5px;
}

.callout-1 {
  text-align: center;
  color: #146eb4;
  font-size: 31px;
  margin-bottom: 20px;
}

.guest-sign-in-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px 75px;
  font-size: 15px;
  color: #000;
  background: #f0c14b;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}

.guest-sign-in-button:hover {
  background: #846a29;
}

/* ------------USERS NEW PAGE------------ */
.registration-table {
  margin: 0 auto;
}

.registration-label {
  text-align: right;
}

.fine-print {
  font-size: 10px;
}

/* ------------CHECKOUT SHOW PAGE------------ */
.checkout-header{
  background: linear-gradient(#fafafa, #fff, #fafafa);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 100px;
}

.checkout-header-left {
  /*background: red;*/
  float: left;
  width: 200px;
  height: 100%;
}

.checkout-header-right {
  /*background: lightgreen;*/
  float: right;
  width: 200px;
  height: 100%;
}

.checkout-header-right img {
  padding-top: 30px;
  margin: 0 auto;
}

.checkout-header-center {
  /*background: lightyellow;*/
  margin: 0 150px;
  text-align: center;
  vertical-align: center;
  /*width: 200px;*/
  height: 100%;
}

.checkout-header-center h1 {
  padding-top: 30px;
}

.checkout-sidebar {
  width: auto;
  text-align: center;
  /*background: lightgreen;*/
  /*float: right;*/
  margin-top: 20px;
  padding-top: 10px;
}

.checkout-borders {
   /*background: lightyellow;*/
   border-bottom: 1px solid #ccc;
   margin-top: 20px;
   padding-top: 10px;
 }

.checkout-slots{
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.top-checkout-slots {
   /*background: violet;*/
   margin-right: 350px;
   /*width: 400px;*/
   /*height: 200px;*/
   padding-bottom: 10px;
 }

.center-checkout-slots {
   /*background: beige;*/
   margin-right: 350px;
   /*width: 400px;*/
   /*height: 200px;*/
   padding-bottom: 10px;
 }

.bottom-checkout-slots {
   /*background: lightgreen;*/
   /*height: 200px;*/
   text-align: center;
   border: 1px solid #ccc;
   width: 600px;
   margin: 20px auto;
   border-radius: 6px;
   overflow: hidden;
   padding: 10px;
 }

.checkout-table {
   float: right;
   /*margin: 0 auto;*/

   margin-right: 0px;
   /*background: blue;*/
   /*width: 800px;*/
   width: auto;
 }

.checkout-table tr {
 }

.checkout-label {
   text-align: right;
 }


.checkout-numbering {
   margin-left: 5px;
   margin-right: 10px;
 }

.checkout-item-row {
   /*background: lightyellow;*/
   padding-bottom: 40px;

 }

.checkout-product-picture {
   float: left;
   width: 125px;
 }

.checkout-product-info {
   float: left;
   text-align: left;
   width: 450px;
 }

.checkout-generic-important-font {
   font-weight: 700;
   font-size: 13px;
   line-height: 19px;
   color: #000;
   font-family: Arial, sans-serif;
 }

.checkout-generic-font {
   font-size: 12px;
   line-height: 1.5;
   font-family: Arial, sans-serif;
 }

.checkout-product-price {
   font-weight: 700;
   color: #b12704;
   font-size: 13px;
   line-height: 19px;
   font-family: Arial, sans-serif;
 }

.place-order-section {
   padding-top: 20px
 }

.callout-2 {
   text-align: center;
   color: #146eb4;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 5px;
 }

/* ------------ORDER SHOW PAGE------------ */
.order-show-section {
  margin: 20px;
  text-align: center;
}

.order-table {
  /*background: lightgreen;*/
  margin: 0 auto;
}

.order-table-left {
  text-align: right;
  padding-right: 10px;
}

.order-table-right {
  text-align: left;
}

.order-index-sections {
  /*background: lightgreen;*/
  padding: 5px;
  margin: 25px;
  border-bottom: 1px solid #ccc;
}


/* ------------OTHER------------ */
/*amazon blue: #146eb4;
amazon orange: #ff9900;*/
/* ------------OTHER------------ */
