<h1>Products Index Page</h1>

<div class="carousel-content">
  <h2>Carousel Content Here</h2>
</div>

<div class="carousel-product-feed-1">
  <h2>Carousel Product Feed #1 Here</h2>
</div>

<div class="carousel-product-feed-2">
  <h2>Carousel Product Feed #2 Here</h2>
</div>

<div class="sidebar">
  <h2>Sidebar Here</h2>
</div>
