<% unwanted_attrs = ["id", "created_at", "updated_at"] %>
<h1>Products Index Page</h1>

<div class="carousel-content">
  <h2>Carousel Content Here</h2>
</div>

<div class="carousel-product-feed-1">
  <h2>Carousel Product Feed #1 Here</h2>
  <ul>

    <% @products.each do |product| %>

      <% product.attributes.each do |attr| %>
        <% unless unwanted_attrs.include?(attr[0]) %>
          <li>
            <%= attr[0].titleize %>: <%= attr[1] %>
          </li>
        <% end %>
      <% end %>
    <% end %>

  </ul>
</div>

<div class="carousel-product-feed-2">
  <h2>Carousel Product Feed #2 Here</h2>
</div>

<div class="sidebar">
  <h2>Sidebar Here</h2>
</div>
