<h1>Products Show Page</h1>

<div class="product-image">
  <p>Product Image Goes Here</p>
</div>

<div class="product-description">
  <p>Product Description Goes Here</p>
</div>

<div class="add-to-cart-form">
  <p>Add To Cart Form Goes Here</p>
</div>

<div class="product-details">
  <p>Product Details Go Here</p>
</div>

<div class="quick-promo">
  <p>Quick Promo Goes Here</p>
</div>

<div class="product-reviews">
  <p>Product Reviews Go Here</p>
</div>

<div class="questions-answers">
  <p>Q and A Goes Here</p>
</div>

<div class="recently-viewed-items">
  <p>Recently Viewed Items Go Here</p>
</div>
