<!DOCTYPE html>
<html>
<head>
  <title>CapstoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- HEADER NAVIGATION GOES HERE -->
  <div class="navigation-header">
    <p>Navigation header goes here.</p>
  </div>

  <!-- VIEW TEMPLATE RENDERS HERE -->
  <%= yield %>

  <!-- NAVIGATION FOOTER GOES HERE -->
  <div class="navigation-footer">
    <p>Navigation footer goes here.</p>
  </div>

</body>
</html>
